<h1>Markets:</h1>
<% @markets.each do |market| %>
 <p>Name: <%= market.name %></p>
 <p>City: <%= market.city %></p>
 <p>State: <%= market.state %></p>
 <p><%= link_to "More Info", market_path(market.id) %></p>
 <p>-----------------------------------------</p>
<% end %>